<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ABOUT</title>
    <link
      href="https://fonts.googleapis.com/css?family=Anton"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/about.css" />
  </head>
  <body>
    <div>
        <h1>EDWARD JOSEPH SNOWDEN</h1>
        <p> Is a former computer intelligence consultant</br>
            who leaked highly classified information from</br>
            the National Security Agency (NSA) in 2013 when</br>
            he was an employee and subcontractor for the</br>
            Central Intelligence Agency (CIA).</br>
            His disclosures have fueled debates </br>
            over mass surveillance, government secrecy,</br>
            and the balance between national </br>
            security and information privacy.</br>
        </p>
        <a href="/">HOME</a>
    </div>
  </body>
</html>
