<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>WORK</title>
    <link
      href="https://fonts.googleapis.com/css?family=Anton"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/work.css" />
  </head>
  <body>
    <div>
        <h1>EDWARD JOSEPH SNOWDEN</h1>
        <p>Edward Joseph Snowden (born June 21, 1983) </br>is a former computer intelligence consultant </br>
            who leaked highly classified information </br>from the National Security Agency (NSA) in 2013 </br>
            when he was an employee and subcontractor </br>for the Central Intelligence Agency (CIA). </br>
            His disclosures revealed numerous global </br>surveillance programs, many run by the NSA </br>
            and the Five Eyes Intelligence Alliance </br>with the cooperation of telecommunication </br>
            companies and European governments,</br> and prompted a cultural discussion about national </br>
            security and individual privacy. </br>Many consider him a traitor, many consider him a hero, but</br>
            his disclosures have fueled debates </br>over mass surveillance, government secrecy,</br>
            and the balance between national </br>security and information privacy.</br>
        </p>
        <a href="/">HOME</a>
    </div>
  </body>
</html>
